%h1 Dismissible Helpers

.default
  = render_dismissible_helper 'helper_1'

.slide-up
  = render_dismissible_helper 'helper_2'

.fade-out
  = render_dismissible_helper 'helper_3'


= link_to 'Clear Cookies', cookies_path
